/* You can add global styles to this file, and also import other style files */
h1{
    color: red;
}


.row{
    display: flex;
}

.col
{
    flex-grow: 1;
}

input{
    display: block;
    margin: 5px
}